.container {
  width:100%; 
  font-family: tahoma;
}

hr {
  border-bottom: 2px solid #db2927;
  width: 100%;
  margin: 0px;
}

.contact {
  font-size: 13px;
  color: black;
  text-align: right;
  float: right;
  border-bottom: 2px solid #db2927;
  width: 100%;
  margin-top: -15px;
}

a {
  text-decoration: none;
  color: #045198;
  margin-right: 20px;
}

.content{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.heading {  
  font-size: 18px;
  color: #2c286d;
  padding-top: 20px;
}

.form {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 25px;
  background-color: #ececec;
  border: 1px solid #bcbcbc; 
}

.form-content {
  width: 360px;
  display: inline-block;
  text-align: left;
}

.form-group{
  margin-top: 10px;
  text-align: right;
}

.form-group2 {
  margin-top: 10px;
  /*text-align: left;*/
}

.form-button-group{
  margin-top: 10px;
  margin-left: 135px;
}

.label-field{
  font-size: 14px;
  text-align: right;
  padding-right: 20px;
  clear: both;
  width: 70px;
}

.label-field-radio {
  font-size: 13px;
  color: #6f6f6f;
  text-align: left;
  padding-right: 20px;
  clear: both;
  width: 70px;
}

.label-textarea-field{
  font-size: 14px;
  color: black;
  text-align: right;
  padding-right: 20px;
  clear: both;
  width: 70px;
  vertical-align: top;
}

input {
  background-color: white;
  border: 1px solid #b9b9b9;
  height: 25px;
}

input[type="text"], input[type="email"], input[type="password"]  { width: 360px;}

input[type="radio"] {
    display:inline; 
    vertical-align: middle;   
}

textarea {
  width: 360px;
  height: 135px;
  border: 1px solid #b9b9b9;
  background-color: white;
}

input[type="submit"] {
    background-color: #dc2927;
    border-color: #a10200;
    width: 130px;
    height: 32px;
    text-align: center; 
    font-size: 14px;
    color: white; 
    cursor: pointer;  
}


