/*a new comment*/
*{
  padding:0;
  margin: 0;  
  font-family: tahoma;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

body, #container{
  width: 100%; 
}

#container {
  float: left;
  overflow: hidden;
  padding-bottom: 80px;
  background: url(pic.gif) left repeat-y #ededed; 
}

header, footer, #sidebar{
  font-size: 24px;
  text-align:center;
  border-bottom: 2px solid #0ab1ff;
  padding-top: 20px;
}

header { background-color: #b2e7ff;}

footer {
  background-color: #3cff78;  
  height: 80px;
  clear:both;
}

#sidebar, section{
  float: left;
}

#sidebar{
  padding: 25px 10px;
  width: 250px;
  font-size: 18px;
  text-align:left;   
}

#sidebar p {
  font-size: 12px;
}

section {
  padding: 20px;
  font-size: 24px;
  width:710px;
}

section p, li { font-size: 14px;}

section p {
  color: #802525;
}

li {
  color: #fff;
  line-height: 30px;
}
